<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lu.indexpagedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.Tools.AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activitys.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".view.activitys.MyOrderActivity" />
        <activity android:name=".view.activitys.MyInformationActivity" />
        <activity android:name=".view.activitys.MyAddressActivity" />
        <activity android:name=".view.activitys.MyAddressEditionActivity" />
        <activity
            android:name=".view.simpleviews.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".view.activitys.MyMoneyActivity" />
        <activity android:name=".view.activitys.CartActivity" />
        <activity android:name=".view.activitys.LoveActivity" />
        <activity android:name=".view.activitys.FocusActivity" />
        <activity android:name=".view.activitys.CustomSelectorActivity" />
        <activity android:name=".view.activitys.TestActivity" />
        <activity android:name=".view.simpleviews.DailogActivity" />
        <activity android:name=".view.simpleviews.MessageActivity" />
        <activity android:name=".view.activitys.WorkDetailsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".view.simpleviews.OrdinaryUserDetailsActivity" />
        <activity android:name=".view.simpleviews.DesignerDetailsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".view.simpleviews.ArticleDetailsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".view.simpleviews.WorkDetailsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".view.activitys.LoginActivity" />
        <activity android:name=".view.activitys.RegisterActivity" />
        <activity android:name=".view.simpleviews.WellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>